<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ site.github_org }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/">示例</a></li>
      <li><a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/overview/">关于</a></li>
    </ul>
    <p>由 <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/about/team/">Bootstrap 团队</a>在<a href="{{ site.repo }}/graphs/contributors">我们的合作者们</a>的帮助下用世界上所有的热爱设计并构建。</p>
    <p>当前版本 v{{ site.current_version }}。代码许可 <a href="{{ site.repo }}/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>，文档许可 <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>。</p>
    <br />
    <p>这是一份 <strong>第三方</strong> 翻译副本，由 <a href="https://github.com/bootstrap-zh-cn" target="_blank">Bootstrap zh-CN 团队</a>翻译。</p>
  </div>
</footer>
