---
layout: home
---

<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto col-md-4 order-md-2">
        {% include icons/bootstrap-stack.svg width="512" height="430" class="img-fluid mb-3 mb-md-0" %}
      </div>
      <div class="col-md-8 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3">用 Bootstrap 构建快速的响应式网站</h1>
        <p class="lead mb-4">
          Bootstrap 是世界上最流行的前端开源库。利用我们提供的 Sass 变量和 Mixin、响应式栅格系统、可扩展的预制控件和强大的 Javascript 插件，能够快速地设计和定制响应式、移动端优先的网站。
        </p>
        <div class="d-flex flex-column flex-md-row">
          <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/" class="btn btn-lg btn-bd-primary mb-3 mr-md-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">立即开始</a>
          <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/download/" class="btn btn-lg btn-outline-secondary mb-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ site.current_version }}');">下载</a>
        </div>
        <p class="text-muted mb-0">
          当前版本 v{{ site.current_version }}
        </p>
      </div>
    </div>
    {% include ads.html %}
  </div>
</main>

<div class="masthead-followup">
  <div class="container">
    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-success">
          {% include icons/code.svg width="32" height="32" class="masthead-followup-svg" %}
        </div>
        <h2>安装</h2>
        <p class="lead font-weight-normal">
          通过 npm、Composer 或 Meteor 安装 Bootstrap 的源 Sass 和 JavaScript 文件。
        </p>
        <p>使用包管理器安装的 Bootstrap 不包含文档和全部的构建脚本。 你也可以使用 <a href="https://github.com/twbs/bootstrap-npm-starter">我们的 npm 模版仓库</a> 来快速生成一个 Bootstrap 项目。</p>
        <a class="btn btn-lg btn-outline-primary mb-3" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/download/">阅读安装文档</a>
      </div>
      <div class="col-md-7 pl-md-5">
{% highlight sh %}
# Via npm
npm install bootstrap

# Via gem
gem install bootstrap -v {{ site.current_ruby_version }}
{% endhighlight %}
      </div>
    </div>

    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-primary">
          {% include icons/cloud-fill.svg width="32" height="32" class="masthead-followup-svg" %}
        </div>
        <h2>BootstrapCDN</h2>
        <p class="lead font-weight-normal">
          当你只需要使用 Bootstrap 编译好的 CSS 或者 JS 文件，你可以使用 <a href="https://www.bootstrapcdn.com/">BootstrapCDN</a>。 
        </p>
        <p>
          通过我们的简单<a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/#starter-template"></a>入门模板</a>来了解实际操作，或<a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/examples/"></a>浏览示例</a>以开始你的下一个项目。
        </p>
        <a class="btn btn-lg btn-outline-primary mb-3" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/layout/overview/">浏览文档</a>
      </div>
      <div class="col-md-7 pl-md-5">
{% highlight html %}
<!-- CSS only -->
<link rel="stylesheet" href="{{ site.cdn.css }}" integrity="{{ site.cdn.css_hash }}" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.popper }}" integrity="{{ site.cdn.popper_hash }}" crossorigin="anonymous"></script>
<script src="{{ site.cdn.js }}" integrity="{{ site.cdn.js_hash }}" crossorigin="anonymous"></script>
{% endhighlight %}
      </div>
    </div>

    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bd-bg-purple-bright">
          {% include icons/circle-square.svg width="32" height="32" class="masthead-followup-svg" %}
        </div>
        <h2>Bootstrap Icons</h2>
        <p class="lead font-weight-normal">
          这是 Bootstrap 首次拥有它自己的开源 SVG 图标库，专为我们的组件和文档设计。
        </p>
        <p>
          Bootstrap Icons 专为 Bootstrap 组件设计，但它们在所有项目中都可使用。它们是 SVG 图像，因此它们可以快速而简单地缩放，可以以数种方法实现，可以用 CSS 设置样式。
        </p>
        <a href="{{ site.icons }}" class="btn btn-lg btn-outline-primary mb-3">获取 Bootstrap Icons</a>
      </div>
      <div class="col-md-7 pl-md-5">
        <img class="img-fluid mt-3 mx-auto" srcset="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-icons.png,
                                                    {{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-icons@2x.png 2x"
                                                    src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-icons.png"
                                                    alt="Bootstrap Icons" width="966" height="600" loading="lazy">
      </div>
    </div>

    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <div class="masthead-followup-icon d-inline-block mb-2 text-white bg-danger">
          {% include icons/droplet-fill.svg width="32" height="32" class="masthead-followup-svg" %}
        </div>
        <h2>官方主题</h2>
        <p class="lead font-weight-normal">
          想让 Bootstrap 更上一层楼？从<a href="{{ site.themes }}">官方 Bootstrap Themes 商店</a>获取高质量主题。
        </p>
        <p>
          这些主题都是基于 Bootstrap 框架开发的，富含全新的控件和插件，文档，与强大的构建工具。
        </p>
        <a href="{{ site.themes }}" class="btn btn-lg btn-outline-primary mb-3">浏览主题</a>
      </div>
      <div class="col-md-7 pl-md-5">
        <img class="img-fluid mt-3 mx-auto" srcset="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-themes.png,
                                                    {{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-themes@2x.png 2x"
                                                    src="{{ site.baseurl }}/docs/{{ site.docs_version }}/assets/img/bootstrap-themes.png"
                                                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
</div>
